@import 'tailwindcss';

@theme {
  --color-background-brand-default: #0066be;
  --color-background-brand-hover: #0055ad;
  --color-background-brand-secondary: #c0e4ff;
  --color-background-brand-secondary-hover: #97d3ff;
  --color-background-brand-tertiary: #dcf0ff;
  --color-background-brand-tertiary-hover: #c0e4ff;
  --color-background-danger-default: #eb221e;
  --color-background-danger-hover: #bf0f0c;
  --color-background-danger-secondary: #fdd2cf;
  --color-background-danger-secondary-hover: #fcb2ad;
  --color-background-danger-tertiary: #fde8e7;
  --color-background-danger-tertiary-hover: #fdd2cf;
  --color-background-default-default: #ffffff;
  --color-background-default-default-hover: #f5f5f5;
  --color-background-default-secondary: #f5f5f5;
  --color-background-default-secondary-hover: #e6e6e6;
  --color-background-default-tertiary: #d9d9d9;
  --color-background-default-tertiary-hover: #b3b3b3;
  --color-background-disabled-default: #97d3ff;
  --color-background-neutral-default: #5a5a5a;
  --color-background-neutral-hover: #424242;
  --color-background-neutral-secondary: #cccccc;
  --color-background-neutral-secondary-hover: #b1b1b1;
  --color-background-neutral-tertiary: #e3e3e3;
  --color-background-neutral-tertiary-hover: #cccccc;
  --color-background-positive-default: #14ae5c;
  --color-background-positive-hover: #009951;
  --color-background-positive-secondary: #cff7d3;
  --color-background-positive-secondary-hover: #aff4c6;
  --color-background-positive-tertiary: #ebffee;
  --color-background-positive-tertiary-hover: #cff7d3;
  --color-background-utilities-blanket: #000000;
  --color-background-utilities-measurement: #fae1fa;
  --color-background-utilities-overlay: #000000;
  --color-background-utilities-scrim: #ffffff;
  --color-background-warning-default: #e8b931;
  --color-background-warning-hover: #e5a000;
  --color-background-warning-secondary: #fff1c2;
  --color-background-warning-secondary-hover: #ffe8a3;
  --color-background-warning-tertiary: #fffbeb;
  --color-background-warning-tertiary-hover: #fff1c2;
  --color-border-brand-default: #0066be;
  --color-border-brand-secondary: #008bf2;
  --color-border-brand-tertiary: #39abff;
  --color-border-danger-default: #8f0b09;
  --color-border-danger-secondary: #bf0f0c;
  --color-border-danger-tertiary: #eb221e;
  --color-border-default-default: #d9d9d9;
  --color-border-default-secondary: #757575;
  --color-border-default-tertiary: #383838;
  --color-border-disabled-default: #57b8ff;
  --color-border-neutral-default: #303030;
  --color-border-neutral-secondary: #767676;
  --color-border-neutral-tertiary: #b1b1b1;
  --color-border-positive-default: #02542d;
  --color-border-positive-secondary: #009951;
  --color-border-positive-tertiary: #14ae5c;
  --color-border-utilities-measurement: #f19edc;
  --color-border-utilities-swatch: #000000;
  --color-border-warning-default: #522404;
  --color-border-warning-secondary: #975101;
  --color-border-warning-tertiary: #bf6a02;
  --color-icon-brand-default: #0066be;
  --color-icon-brand-on-brand: #dcf0ff;
  --color-icon-brand-on-brand-secondary: #0055ad;
  --color-icon-brand-on-brand-tertiary: #0066be;
  --color-icon-brand-secondary: #008bf2;
  --color-icon-brand-tertiary: #39abff;
  --color-icon-danger-default: #8f0b09;
  --color-icon-danger-on-danger: #fde8e7;
  --color-icon-danger-on-danger-secondary: #8f0b09;
  --color-icon-danger-on-danger-tertiary: #8f0b09;
  --color-icon-danger-secondary: #bf0f0c;
  --color-icon-danger-tertiary: #eb221e;
  --color-icon-default-default: #1e1e1e;
  --color-icon-default-secondary: #757575;
  --color-icon-default-tertiary: #b3b3b3;
  --color-icon-disabled-default: #57b8ff;
  --color-icon-disabled-on-disabled: #57b8ff;
  --color-icon-neutral-default: #303030;
  --color-icon-neutral-on-neutral: #f2f2f2;
  --color-icon-neutral-on-neutral-secondary: #303030;
  --color-icon-neutral-on-neutral-tertiary: #424242;
  --color-icon-neutral-secondary: #5a5a5a;
  --color-icon-neutral-tertiary: #767676;
  --color-icon-positive-default: #02542d;
  --color-icon-positive-on-positive: #ebffee;
  --color-icon-positive-on-positive-secondary: #02542d;
  --color-icon-positive-on-positive-tertiary: #014022;
  --color-icon-positive-secondary: #009951;
  --color-icon-positive-tertiary: #14ae5c;
  --color-icon-utilities-icon: #d732a8;
  --color-icon-utilities-icon-on-measurement: #8a226f;
  --color-icon-warning-default: #522404;
  --color-icon-warning-on-warning: #401b00;
  --color-icon-warning-on-warning-secondary: #682d02;
  --color-icon-warning-on-warning-tertiary: #522404;
  --color-icon-warning-secondary: #975101;
  --color-icon-warning-tertiary: #bf6a02;
  --color-text-brand-default: #0066be;
  --color-text-brand-on-brand: #dcf0ff;
  --color-text-brand-on-brand-secondary: #0055ad;
  --color-text-brand-on-brand-tertiary: #0066be;
  --color-text-brand-secondary: #008bf2;
  --color-text-brand-tertiary: #39abff;
  --color-text-danger-default: #8f0b09;
  --color-text-danger-on-danger: #fde8e7;
  --color-text-danger-on-danger-secondary: #8f0b09;
  --color-text-danger-on-danger-tertiary: #8f0b09;
  --color-text-danger-secondary: #bf0f0c;
  --color-text-danger-tertiary: #eb221e;
  --color-text-default-default: #1e1e1e;
  --color-text-default-secondary: #757575;
  --color-text-default-tertiary: #b3b3b3;
  --color-text-disabled-default: #57b8ff;
  --color-text-disabled-on-disabled: #57b8ff;
  --color-text-neutral-default: #303030;
  --color-text-neutral-on-neutral: #f2f2f2;
  --color-text-neutral-on-neutral-secondary: #303030;
  --color-text-neutral-on-neutral-tertiary: #424242;
  --color-text-neutral-secondary: #5a5a5a;
  --color-text-neutral-tertiary: #767676;
  --color-text-positive-default: #02542d;
  --color-text-positive-on-positive: #ebffee;
  --color-text-positive-on-positive-secondary: #02542d;
  --color-text-positive-on-positive-tertiary: #02542d;
  --color-text-positive-secondary: #009951;
  --color-text-positive-tertiary: #14ae5c;
  --color-text-utilities-text-on-measurement: #8a226f;
  --color-text-utilities-text-on-overlay: #0c0c0d;
  --color-text-warning-default: #522404;
  --color-text-warning-on-warning: #401b00;
  --color-text-warning-on-warning-secondary: #682d02;
  --color-text-warning-on-warning-tertiary: #522404;
  --color-text-warning-secondary: #975101;
  --color-text-warning-tertiary: #bf6a02;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}
